[submodule "ESEngine/Vendor/glad"]
	path = ESEngine/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "ESEngine/Vendor/glfw"]
	path = ESEngine/Vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "ESEngine/Vendor/glm"]
	path = ESEngine/Vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "ESEngine/Vendor/bullet3"]
	path = ESEngine/Vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git
	branch = master
[submodule "ESEngine/Vendor/rapidjson"]
	path = ESEngine/Vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
[submodule "ESEngine/Vendor/freetype2"]
	path = ESEngine/Vendor/freetype2
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
	branch = master
[submodule "ESEngine/Vendor/stb"]
	path = ESEngine/Vendor/stb
	url = https://github.com/nothings/stb.git
	branch = master
